.forgot-password-confirm {
    width: 500px;
    padding: 40px;
    background-color: white !important;
    p {
        background-color: lightgrey;
        text-align: center;
        padding: 5px 0;
    }
}
