.root {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    box-sizing: border-box;
    padding: 70px 0 70px 0;
}
.main-container {
    padding: 10px;
    box-sizing: border-box;
}

