.layout-auth {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column;
    background-color: white !important;
}
.main-container {
    min-height: 100vh;
    padding: 10px;
}

.content {
    flex: 1;
    background: white;
    display: flex;
}

.left-label {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    min-height: 100vh;
    width: 76px;
    border-right: 1px solid grey;
    p {
        position: fixed;
        font-size: 25px;
        top: 150px;
        left: 60px;
        z-index: 10;
        transform: rotate(90deg);
        transform-origin: top left;
        margin: 0;
        padding: 0;
    }
}

.main {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-row {
    min-height: 10vh;
}

.content-row {
    background-color: #efefef !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.layout-main {
    min-height: 100vh !important;
}


