.sign-in-container{
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.input-container>input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
}

.checkbox-container>a {
    color: dodgerblue;
    cursor: pointer;
}

.submit-button {
    width: fit-content;
    padding: 10px 15px;
}
