.clients-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-container select {
    padding: 3px;
    font-size: 18px;
}

.select-clients {
    width: 100%;
}

.dropdown {
    border: 1px solid red;
}

