.support-container ul li {
    list-style: none;
    padding: 5px 0;
}

.support-container ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.support-container ul div {
    margin-right: 50px;
}

.support-container {
    position: fixed;
    top: 150px;
    left: 50px;
    height: 100%;
    width: 100%;
    .fields-names {
        font-weight: bold;
    }
}
