.forgotpassword-wrapper {
    width: 400px;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    a {
        margin-top: 20px;
    }
}

.forgotpassword-wrapper>a {
    color: dodgerblue;
    cursor: pointer;
}

.forgotpassword-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative;
    input {
        font-size: 16px;
        margin-top: 5px;
        padding: 5px 10px;
        outline-color: dodgerblue;
    }
    label {
        font-size: 16px;
        margin-bottom: 5px;
    }
}
