.footer {
    background-color: white !important;
    width: 100%;
    height: fit-content;
    border-top: 1px solid grey;
    padding: 10px 50px !important;
    display: flex;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    .vertical-line {
        height: 100%;
        width: 1px;
        left: 74px;
        background-color: grey;
        position: absolute;
    }
}

.logotype-footer {
    margin: 0 20px 0 -4px;
    padding: 5px;
    background-color: white;
    width: fit-content;
    position: relative;
    left: -10px;
    z-index: 20;
    img {
        height: auto;
        width: 4rem;
    }
}

.footer-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col + .footer-col {
}

.footer-col.center {
    display: flex;
    height: fit-content;
}

.footer-col-center {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 0 10px;
}
.footer-col-left {
    margin-right: 10px;
}

.footer-col-right {
    margin-left: 10px;
}
