.send-email-block {
  width: 400px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;

  .send-email-input-block {
    display: flex;
    flex-direction: column;
    position: relative;
    label {
      font-size: 14px;
      margin-bottom: 5px;
    }
    input {
      outline-color: dodgerblue;
      margin-bottom: 25px;
      padding: 5px 10px;
      font-size: 16px;
    }
  }
}
