.footer-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}