.confirm-reg-wrapper {
    background-image: url('../Verbier_BackSide.jpg');
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(100vh - 91px - 80px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-reg-container {
    background-color: white;
    width: 500px;
    margin: 200px 0;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
    }
    .confirm-reg-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
            color: dodgerblue;
        }
    }
}
