.confirm-reg-links {
    display: flex;
    justify-content: space-between;
}

.confirm-reg-links>a {
    color: dodgerblue;
}

.confirm-reg-container {
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}