.sign-up-row {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background-image: url('../Verbier_BackSide.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    width: 550px;
    padding: 20px 40px !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    .sign-up-input-block {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    a {
        color: dodgerblue;
        display: block;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    ul {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .agreement-block {
        display: flex;
        align-items: center;
        flex-direction: row !important;
        input {
            margin-right: 10px;
        }
    }
}

.sign-up-wrapper{
    display: flex;
    flex-direction: column;
    label::before {
        content: none !important;
    }
}

.checkbox-show-password-block {
   width: fit-content;
}

.radio-input-block {
    display: flex !important;
    justify-content: space-around;
    padding: 0 20px;
}
