.sign-up-row {
    margin-top: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background-image: url('../Verbier_BackSide.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-container {
    width: 550px;
    padding: 20px !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    .sign-up-input-block {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    h4 {
        margin: 5px 0;
    }
    .radio-input-block {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
    }
    a {
        color: dodgerblue;
        display: block;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    ul {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .agreement-block {
        display: flex;
        align-items: center;
        flex-direction: row !important;
        input {
            margin-right: 10px;
        }
    }
}

.sign-up-wrapper{
    display: flex;
    flex-direction: column;
    label {
         font-size: 14px;
         margin-bottom: 5px;
    }
    input {
        outline-color: dodgerblue;
        margin-bottom: 25px;
        padding: 5px 10px;
        font-size: 16px;
    }
}

.checkbox-show-password-block {
    display: flex;
    align-items: center;
    input {
        margin-right: 10px;
    }
}
